<div class="p-5 container text-center   mt-5 mb-5 maindiv">



    <div class="bg-danger">
        <h1 class="text-dark">Add New Product</h1>
    </div>



    <form (ngSubmit)="add()"  [formGroup]="addNewForm" action="" class="container p-5 border bg-dark mt-5 form">

        <input formControlName="id" type="text" class="mt-5 form-control p-2 border" name="pn1" id="pid1"
            placeholder="id"> <br>
        <input formControlName="pn" type="text" class="mt-5 form-control p-2 border" name="pn2" id="pid2"
            placeholder="Productname"><br>
        <input formControlName="cid" type="text" class="mt-5 form-control p-2 border" name="pn3" id="pid3"
            placeholder="categoryid"><br>
        <input formControlName="dn" type="text" class="mt-5 form-control p-2 border" name="pn4" id="pid4"
            placeholder="Description"><br>
        <input formControlName="pe" type="text" class="mt-5 form-control p-2 border" name="pn5" id="pid5"
            placeholder="Price"><br>
        <input formControlName="ay" type="text" class="mt-5 form-control p-2 border" name="pn6" id="pid6"
            placeholder="Availability"><br>
        <input formControlName="pi" type="text" class="mt-5 form-control p-2 border" name="pn7" id="pid7"
            placeholder="Productimage"><br>
        <input formControlName="rg" type="text" class="mt-5 form-control p-2 border" name="pn8" id="pid8"
            placeholder="Rating"><br>
        <input formControlName="rw" type="text" class="mt-5 form-control p-2 border" name="pn9" id="pid9"
            placeholder="Review"><br>
        <input formControlName="ve" type="text" class="mt-5 form-control p-2 border" name="pn10" id="pid10"
            placeholder="Vendorname"><br>
        <input formControlName="wy" type="text" class="mt-5 form-control p-2 border" name="pn11" id="pid11"
            placeholder="Warranty"><br>
        <button  class="btn btn-success ms-2" type="submit">Add</button>




    </form>





</div>